<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <section layout:fragment="contentCss">
        <link rel="stylesheet" th:href="@{/css/index.css}">
    </section>
</head>

<body>
    <main layout:fragment="content">
        <div class="main">Bienvenue sur le futur site de gestion du programme annuel des étudiants</div>
    </main>
</body>

</html>